/* グローバル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************オセロ部品**********************/
/*ゲーム版 
石がなくてもとりあえず大きさは保ってほしい
*/
.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background: #00ee00;
}


/* マス目 */
.cell {
  width: 12.5%;
  height: 12.5%;
  font-size: 0;
  vertical-align: bottom;
  position: relative;
}

.board,
.cell {
  border: 2px solid #000;
}


/*石*/
.stone {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid black;
}

.stone.black {
  background: #000;
}

.stone.white {
  background: #fff;
}

/**************コンポーネント*******************/
/*アラート*/

.alert-box {
  box-shadow: inset 2px 2px 2px #000;
  border-radius: 2px;
  padding: 16px 20px;
}

.alert-box.error {
  background: #cc2222;
}
