/*カード
表の画像絵柄種類はオブジェクトで指定するのでこちらには書かない
*/
.card {
  width: 100px;
  height: 200px;
  background-position: center center;
  background-size: 100% 100%;
}

body {
  background: lightgreen;
}

/*手札*/
.card-list {
  width: 80%;
  display: flex;
  justify-content: center;
}
